In [36]:
import pandas as pd
import numpy as np
import re

In [19]:
fname1 = 'surname.csv'
fname2 = 'lastname.txt'

data1 = pd.read_csv(fname1, index_col = 0)
temp_data2 = np.loadtxt(fname2, dtype = 'str', delimiter='\n')
data2 = pd.DataFrame([i.split('\t') for i in temp_data2])

In [21]:
print(data1.head())
print(data2.head())

          0
0     SMITH
1     JONES
2     BROWN
3   JOHNSON
4  WILLIAMS
        0          1
0   Abig.    Abigail
1    Abr.    Abraham
2    Agn.      Agnes
3   Alex.  Alexander
4  Alex.r  Alexander

In [63]:
full_name_L = []
for i in data2.itertuples(index = False):
    for j in data1.itertuples(index = False):
        test = "as ad (asdf)"
        i[0].replace(' (US)', '')
        temp_name1 = i[0] + ' ' + j[0]
        temp_name2 = i[1] + ' ' + j[0]
        full_name_L.append((temp_name1, temp_name2))
full_name_L = pd.DataFrame(full_name_L)
full_name_L.to_csv('full_name.csv')
# print(full_name_L)

                     0                    1
0          Abig. SMITH        Abigail SMITH
1          Abig. JONES        Abigail JONES
2          Abig. BROWN        Abigail BROWN
3        Abig. JOHNSON      Abigail JOHNSON
4       Abig. WILLIAMS     Abigail WILLIAMS
5         Abig. MILLER       Abigail MILLER
6         Abig. TAYLOR       Abigail TAYLOR
7         Abig. WILSON       Abigail WILSON
8          Abig. DAVIS        Abigail DAVIS
9          Abig. WHITE        Abigail WHITE
10         Abig. CLARK        Abigail CLARK
11          Abig. HALL         Abigail HALL
12        Abig. THOMAS       Abigail THOMAS
13      Abig. THOMPSON     Abigail THOMPSON
14         Abig. MOORE        Abigail MOORE
15          Abig. HILL         Abigail HILL
16        Abig. WALKER       Abigail WALKER
17      Abig. ANDERSON     Abigail ANDERSON
18        Abig. WRIGHT       Abigail WRIGHT
19        Abig. MARTIN       Abigail MARTIN
20          Abig. WOOD         Abigail WOOD
21         Abig. ALLEN        Abigail ALLEN
22      Abig. ROBINSON     Abigail ROBINSON
23         Abig. LEWIS        Abigail LEWIS
24         Abig. SCOTT        Abigail SCOTT
25         Abig. YOUNG        Abigail YOUNG
26       Abig. JACKSON      Abigail JACKSON
27         Abig. ADAMS        Abigail ADAMS
28      Abig. TRYNISKI     Abigail TRYNISKI
29         Abig. GREEN        Abigail GREEN
...                ...                  ...
18530     Zach. GORDON     Zachariah GORDON
18531    Zach. WHEELER    Zachariah WHEELER
18532     Zach. STREET     Zachariah STREET
18533      Zach. PERRY      Zachariah PERRY
18534      Zach. BLACK      Zachariah BLACK
18535       Zach. LANE       Zachariah LANE
18536    Zach. GARDNER    Zachariah GARDNER
18537       Zach. CITY       Zachariah CITY
18538   Zach. LAWRENCE   Zachariah LAWRENCE
18539    Zach. ANDREWS    Zachariah ANDREWS
18540     Zach. WARREN     Zachariah WARREN
18541    Zach. SPENCER    Zachariah SPENCER
18542       Zach. RICE       Zachariah RICE
18543    Zach. JENKINS    Zachariah JENKINS
18544     Zach. KNIGHT     Zachariah KNIGHT
18545  Zach. ARMSTRONG  Zachariah ARMSTRONG
18546      Zach. BURNS      Zachariah BURNS
18547     Zach. BARKER     Zachariah BARKER
18548       Zach. DUNN       Zachariah DUNN
18549       Zach. REID       Zachariah REID
18550    Zach. COLLEGE    Zachariah COLLEGE
18551       Zach. MARY       Zachariah MARY
18552      Zach. HAYES      Zachariah HAYES
18553       Zach. PAGE       Zachariah PAGE
18554       Zach. ROSE       Zachariah ROSE
18555  Zach. PATTERSON  Zachariah PATTERSON
18556        Zach. ANN        Zachariah ANN
18557   Zach. CRAWFORD   Zachariah CRAWFORD
18558     Zach. ARNOLD     Zachariah ARNOLD
18559      Zach. HOUSE      Zachariah HOUSE

[18560 rows x 2 columns]